<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnigmaMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EnigmaMM.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnigmaMM.Properties.Settings>
            <setting name="SrvReady" serializeAs="String">
                <value>[INFO] Done!</value>
            </setting>
            <setting name="SrvUsers" serializeAs="String">
                <value>[INFO] Connected players:</value>
            </setting>
            <setting name="SrvPortBusy" serializeAs="String">
                <value>[WARNING] Perhaps a server is already running on that port</value>
            </setting>
        </EnigmaMM.Properties.Settings>
    </applicationSettings>
</configuration>