<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnigmaMM.config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="EnigmaMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="EnigmaMM.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnigmaMM.config>
            <setting name="ServerRoot" serializeAs="String">
                <value>D:\Minecraft\MCServerRoot\Server</value>
            </setting>
            <setting name="ServerJar" serializeAs="String">
                <value>minecraft_server.jar</value>
            </setting>
            <setting name="JavaHeapInit" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="JavaHeapMax" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="JavaExec" serializeAs="String">
                <value>java.exe</value>
            </setting>
        </EnigmaMM.config>
        <EnigmaMM.Properties.Settings>
            <setting name="SrvReady" serializeAs="String">
                <value>[INFO] Done!</value>
            </setting>
            <setting name="SrvUsers" serializeAs="String">
                <value>[INFO] Connected players:</value>
            </setting>
            <setting name="SrvPortBusy" serializeAs="String">
                <value>[WARNING] Perhaps a server is already running on that port</value>
            </setting>
        </EnigmaMM.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
