<?xml version="1.0" standalone="yes"?>
<ConfigOpt>
  <ConfigValues>
    <OptionName>ServerRoot</OptionName>
    <OptionValue>..\</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>MinecraftRoot</OptionName>
    <OptionValue>.\Minecraft</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>ServerJar</OptionName>
    <OptionValue>minecraft_server.jar</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>ServerIp</OptionName>
    <OptionValue>localhost</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>ServerPort</OptionName>
    <OptionValue>8221</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>JavaHeapInit</OptionName>
    <OptionValue>512</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>JavaHeapMax</OptionName>
    <OptionValue>512</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>JavaExec</OptionName>
    <OptionValue>java.exe</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>MapRoot</OptionName>
    <OptionValue>.\Maps</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>CacheRoot</OptionName>
    <OptionValue>.\Cache</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>AlphaVespucciInstalled</OptionName>
    <OptionValue>False</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>AlphaVespucciRoot</OptionName>
    <OptionValue>.\AlphaVespucci</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>PythonExe</OptionName>
    <OptionValue>C:\Program Files\Python27\python.exe</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>MinecraftOverviewerInstalled</OptionName>
    <OptionValue>False</OptionValue>
  </ConfigValues>
  <ConfigValues>
    <OptionName>MinecraftOverviewerRoot</OptionName>
    <OptionValue>.\Overviewer</OptionValue>
  </ConfigValues>
</ConfigOpt>